<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"/>
  <title>修改密码</title>
  <link rel="stylesheet" type="text/css" th:href="@{/css/common/main.css}" />
  <link rel="stylesheet" type="text/css" th:href="@{/css/common/topBar.css}" />
  <link rel="stylesheet" type="text/css" th:href="@{/css/common/leftBar.css}" />
  <link rel="stylesheet" type="text/css" th:href="@{/css/reader/updatePassword.css}" />

  <script type="text/javascript" th:src="@{/js/common/main.js}" />
  <script type="text/javascript" th:src="@{/js/reader/updatePassword.js}" />
</head>
<body>
<div th:replace="/main/common/topBar::topBar(${session.userType}, ${session.user.rdName}, ${msg})"></div>
<div class="main">
  <div th:replace="/main/common/leftBar::leftBar(${session.user})"></div>
  <div class="content">
    <form th:action="@{/user/update_password}" method="post" onsubmit="return checkForm();">
      <table class="twoColumn">
        <tr>
          <td colspan="2" id="msg">修改密码</td>
        </tr>
        <tr class="table-info">
          <td>旧密码</td>
          <td>
            <input type="hidden" name="rdID" th:value="${session.user.rdID}" readonly="readonly" />
            <input type="password" id="oldPwd" name="oldPwd" />
          </td>
        </tr>
        <tr class="table-info">
          <td>新密码</td>
          <td><input type="password" id="newPwd" name="newPwd" /></td>
        </tr>
        <tr class="table-info">
          <td>确认密码</td>
          <td><input type="password" id="rePwd" name="rePwd" /></td>
        </tr>
        <tr>
          <td colspan="2"><button>提交修改</button></td>
        </tr>
      </table>
    </form>
  </div>
</div>
</body>
</html>