.main .content table .table-info textarea  {
    height: 80px;
}

.main .content .list .caption {
    height: 30px;
}

.main .content .list tr {
    height: 75px;
}

.main .content .list td {
    border: 1px solid #000000;
}

.main .content .list td:nth-child(2) {
    width: 15%;
}

.main .content .list td:nth-child(3) {
    max-width: 50px;
    /*文字超出部分显示...*/
    overflow: hidden;
    word-break: keep-all;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.main .content .list img {
    height: 70px;
    vertical-align: bottom;
}